{% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="mx-auto px-6 py-4 flex flex-col space-y-4 md:w-1/2">
        <h1 class="text-2xl font-semibold">Sign Up</h1>
        <p class="text-xm font-light">
            {% blocktrans %}Already have an account?<a class="mx-6 px-4 py-2 text-white bg-black rounded-full baseline text-center hover:bg-blue-800" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
    </div>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
        {% element button tags="prominent,signup" type="submit" %}
            <div class="mx-auto px-4 py-2 block text-white bg-black rounded-full baseline text-center hover:bg-blue-800">
                    {% trans "Sign Up" %}
            </div>
        {% endelement %}
    {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
