<footer class="text-gray-300 mt-10 bg-gray-100 border-gray-400">
  <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">
    <!-- Name and social links -->
    <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
      <div class="mx-auto my-6 text-center text-black md:hidden">Copyrigth &copy; 2022, All Rights Reserverd</div>
      <!-- Name -->
      <div class="pt-2">
        <a href="/" class="text-2xl font-extrabold text-black">Mercury</a>
      </div>
      <!-- socila links -->
      <div class="flex justify-center space-x-4">
        <a href=""><img src="static/images/icon-gmail.png" alt="mail icon" class="h-8 bg-transparent" /></a>
        <a href=""><img src="static/images/icon-github.png" alt="github icon" class="h-8 bg-transparent" /></a>
        <a href=""><img src="static/images/icon-twitter.png" alt="twitter icon" class="h-8" /></a>
      </div>
    </div>

    <!-- list container -->
    <div class="flex justify-around space-x-32">
      {% if user.is_authenticated %}
        <div class="flex flex-col space-y-3 text-gray-800">
          <a href="/" class="hover:text-gray-500">Home</a>
          <a href="/statements" class="hover:text-gray-500">Statements</a>
          <a href="/summary/balance" class="hover:text-gray-500">Summary</a>
          <a href="" class="hover:text-gray-500">About</a>
        </div>
      {% endif %}
      <div class="flex flex-col space-y-3 text-gray-800">
        <a href="" class="hover:text-gray-500">Careers</a>
        <a href="" class="hover:text-gray-500">Community</a>
        <a href="" class="hover:text-gray-500">Privacy Policy</a>
      </div>
    </div>
    <!-- Input container -->
    <div class="flex flex-row justify-between md:flex-col">
      <form action="">
        <div class="flex space-x-3">
          <input type="text" class="flex-1 px-4 max-w-max rounded-full focus:outline-none" placeholder="Subscribe to newletter" />
          <button class="px-6 py-2 text-white bg-black rounded-full baseline text-center hover:bg-blue-800">Go</button>
        </div>
      </form>
      <div class="hidden text-black md:block">Copyrigth &copy; 2022, All Rights Reserverd</div>
    </div>
  </div>
</footer>
